/*ESTILOS GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1024px;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    color: #FFFFFF;
    word-spacing: 10px;
}
li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

/*HEADER*/
.descuentos{
    background-color: #1CD1B0;
    height: 38px;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
}

h1{
    background-color: #00669F;
    height: 101px;
    padding-left: 28px;
    padding-right: 0px;
    padding-top: 28px;
    box-shadow: rgba(0, 0, 0, 0.25);
}

.container{
    height: 530px;
    position: relative;
    margin-top: 154px;
    margin-bottom: 151px;
}

.card1, .card2, .card3{
    display: inline-block;
    height: 530px;
    width: 300px;
    position: relative;
    margin-left: 30px;
    background-color: #F3F3F3;
    box-shadow: #E5E5E5;
    
}
.card1 > .card-img, .card3 > .card-img{
   
    background-image: url("../img/batman-fondo.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 193px;
}

.card2 > .card-img{
    
    background-image: url("../img/harley-fondo.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 193px;
}

.card-texto{
    width: 300px;
    height: 336px;
}
