/*HEADER*/
header{
    background-color: #E5E5E5;
    text-align: center;
}
h1, h2{
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 10px;
    word-spacing: 5px;
    text-transform: uppercase;
}

/*MAIN*/
.container{
    margin: 40px auto;
    width: 70%;
}

span{
    font-weight: 700;
}

.personal span{
    font-style: italic;
}

dt{
    margin-inline-start: 40px; /*Ajusta el comienzo de la linea, margen*/
    display: block;
}

dd{
    margin-inline-start: 80px;
    padding-left: 40px;
    padding-bottom: 7px; /*una especie de interlineado de cajas de background*/
    /*display: block;*/
}

/*FOOTER*/
footer{
    background-color: #005677;
    color: #fff;
    text-align: center;
}

a{
    color:#FFF;
    letter-spacing: 10px;
}