*{
    box-sizing: border-box;
}
img{
    max-width:100%;
}
main{
    margin: 50px;
} 
.padre{
   /* max-width: 500px;*/   
   display: flex; 
   flex-direction: column;
   justify-content: space-between; 
    border: 1px solid #000;  
}  
.item{   
    background: #4a72ca;
    text-align: center; 
    color: #fff; 
    padding: 20px;   
}
 
 .item1{
     display: flex;
     justify-content: space-between;
 }
 .heroe{
     height: 400px;
     background: url('img/website.jpeg') no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .card{
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 .card-img  {
     background-size: cover;
     background-repeat: no-repeat;
 }
 .card-mujerM{
     background-image: url('');
 }
 .card-superman{
    background-image: url('');
}
 .card-text{
     position: relative;
 }
 .card-text > img{
     position: absolute;
     top:50%;
     left: calc(50% - 30px);
 }
 .cardd-tex img{

 }
 .fa-loc{
     font-size: 2rem;
     padding: 1.2rem;
     border: 2px solid #ddd;
     baa
     border-radius: 50%;
 }
 @media screen and (max-width: 480px){
     .heroe{
        background: url('img/website-mobile.jpeg') no-repeat;

     }
 }
 
 
 